* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 98%);
  font-family: "Poppins", sans-serif;
}

.container {
  margin: auto;
  max-width: 1100px;
}

header {
  text-align: center;
  max-width: 500px;
  margin: 100px auto 0;
  padding: 0 10px;
}

.header-1 {
  font-weight: 200;
  color: hsl(229, 6%, 66%);
}

.header-2 {
  font-weight: 600;
  margin-bottom: 15px;
  color: hsl(234, 12%, 34%);
}

header p {
  font-weight: 200;
  font-size: 15px;
  color: hsl(229, 6%, 66%);
}

.cards {
  position: relative;
  margin: 0 auto;
  text-align: left;
  color: hsl(229, 6%, 66%);
  height: 100vh;
}

.card {
  height: 250px;
  width: 350px;
  padding: 25px 15px 15px 25px;
  box-shadow: 5px 5px 5px 5px rgba(41, 40, 40, 0.1);
  background-color: white;
  margin: 0 10px;
}

.card p {
  font-size: 10px;
  padding-right: 20px;
}

.card h3 {
  font-size: 16px;
  color: hsl(234, 12%, 34%);
  margin-bottom: 10px;
}

.supervisor {
  position: absolute;
  top: 200px;
  border-top: 3px solid hsl(180, 62%, 55%);
}

.team-builder {
  position: absolute;
  left: 375px;
  top: 80px;
  border-top: 3px solid hsl(0, 78%, 62%);
}

.karma {
  border-top: 3px solid hsl(34, 97%, 64%);
  position: absolute;
  top: 375px;
  left: 375px;
}

.calculator {
  position: absolute;
  top: 200px;
  left: 750px;
  border-top: 3px solid hsl(212, 86%, 64%);
}

.cards img {
  margin-left: 240px;
  margin-top: 50px;
}

footer {
  color: hsl(229, 6%, 66%);
  margin-top: 35px;
}

@media (max-width: 1100px) {
  .cards {
    position: static;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
  }

  .card {
    position: static;
    margin: 0 auto;
    width: min-content;
  }

  header {
    max-width: 400px;
  }
}
